<!--만들어진 게시판 화면 : 내 축하 메세지 리스트 화면-->
<!--
신랑/신부 축하해주세요! 장식
축하메세지들
축하메세지 작성하기 버튼
저장하기 버튼 -> 게시판 주인만 가능하게-> 그럼 비밀번호 있어야겠네??????
-->

<!DOCTYPE html>
<html th:replace="~{/layout/base_layout :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>

<head>
    <title>축하해</title>
</head>


<body>
<section>
    <div id="board-list-wrap">

        <div class="py-5 text-center">
            <p class="text-base" th:text="${board.weddingDay}">
            <p class="text-xl mt-2">[[ ${board.bridge}]] ♥︎ [[${board.groom}]]</p>
            <p class="text-5xl">결혼합니다</p>
            <p class="text-base">저희의 앞날을 응원해주세요!</p>
        </div>
        <ul class="grid grid-cols-4 gap-2">
            <li th:each="list : ${contents}">
                <img th:src="@{/image/{icon}.svg(icon=${list.listIcon})}">
    <!--            <p th:text="${list.name}">name</p>-->
                <a th:href="@{/contents/view/{id}(id=${list.id})}" th:text="${list.name}"> 상세보기 </a>
            </li>
        </ul>

        <a th:href="@{/contents/{boardId}(boardId=${board.id})}" class="block mx-auto form-btn"> 축하하기 </a>
        <a href="javascript:common.downloadImage('body-container')" class="block mx-auto form-btn mt-2">이미지로 다운로드</a>



    </div> <!-- /container -->
</section>
</body>
</html>