<!-- 게시글 작성 화면 -->

<!DOCTYPE html>
<html th:replace="~{/layout/base_layout :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>

<head>
    <title>축하해</title>
</head>


<body>
<section>
    <div>

        <div class="py-5 text-center text-xl">
            <h2>축하 메세지를 작성해주세요</h2>
        </div>

        <form action="form.html" th:action method="post" th:object="${contentsForm}">
            <div class="mt-8 form-label">목록에 표시할 아이콘을 선택해주세요!</div>
            <ul class="icon-select grid grid-cols-4 gap-3 gap-y-4 mt-2">
                <li th:each="list : ${listIcon}" class="text-center" >
                    <input type="radio" th:field="*{listIcon}" th:value="${list}" class="icon-radio">
                    <label th:for="${#ids.prev('listIcon')}">
                        <img th:src="@{/image/{icon}.svg(icon=${list})}">
                    </label>
                </li>
            </ul>
            <div class="mt-10">
                <label for="name" class="form-label">
                    메세지를 작성하시는분의<br>
                    이름은 무엇인가요?
                </label>
                <input type="text" th:field="*{name}" class="form-input" placeholder="별명도 좋아요 :)">
            </div>
            <div class= "mt-10">
                <label for="contents" class="form-label"> 전하고 싶은 말을 적어볼까요?</label>
                <textarea type="text" th:field="*{contents}" class="form-input border rounded-lg py-2" placeholder="축하의 말을 전해보세요!"
                        rows="6" maxlength="400">
                </textarea>
            </div>

            <div class="form-btn mt-4">
                <button class="" type="submit">축하 보내기</button>
            </div>
        </form>

    </div> <!-- /container -->
</section>
</body>
</html>