<!--게시글 상세화면 ( 축하메세지 조회 화면 )-->

<!-- 게시글 작성 화면 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>축하해</title>
</head>

<body id="pdf-body" class="bg-wd-pink hidden">
<div id ="pdf-wrap">
    <div th:each="temp : ${contents}" id="pdf-wrap-inner" class="break-after page-wrap bg-wd-pink hidden">

    <section>
        <div class="h-full text-center">
            <p class="text-5xl mt-10">결혼 축하해요!</p>
            <div class="mt-8">
    <!--            <div th:each="content : ${contents}" class="break-after">-->
    <!--                <div class="text-left h-[40px] clear-both px-1">-->
    <!--                    <img th:src="@{/image/{icon}.svg(icon=${content.listIcon})}" alt="아이콘이미지" class="h-[40px] float-left">-->
    <!--                    <div class="inline-block ml-2 float-left leading-10">-->
    <!--                        <span class="text-lg">From</span>-->
    <!--                        <span th:text="${content.name}" class="ml-1 text-2xl"></span>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="mt-2">-->
    <!--                    <div th:utext="${content.contents}" class="content-view-textBox text-left h-[270px]"></div>-->
    <!--                </div>-->
    <!--            </div>-->
                <div class="pdf-list-wrap">
                    <div th:each="content : ${temp}">
                        <div class="text-left h-[40px] clear-both px-1">
                            <img th:src="@{/image/{icon}.svg(icon=${content.listIcon})}" alt="아이콘이미지" class="h-[40px] float-left">
                            <div class="inline-block ml-2 float-left leading-10">
                                <span class="text-lg">From</span>
                                <span th:text="${content.name}" class="ml-1 text-2xl"></span>
                            </div>
                        </div>
                        <div class="mt-2">
                            <div th:utext="${content.contents}" class="content-view-textBox text-left h-[270px]"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</div>

<script type="text/javascript" src="/js/library/html2canvas.min.js"></script>
<script type="text/javascript" src="/js/html2pdf.bundle.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</body>
</html>